.img-blur {
  &:hover {
    img {
      background: black;
      filter: blur(2px) brightness(60%);
      background-blend-mode: darken;
    }
    .link {
      display: block;
    }
  }
  .link {
    display: none;
  }
}
