@tailwind base;
@tailwind components;
@tailwind utilities;

/* TYPOGRAPHY */
$base-color: #fff4ea;
$text-color: #f26a21;
$paragraph-color: #1d3142;
h1,
h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.7rem;

  @media screen and (max-width: 1024px) {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 2.7rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.75rem;
    line-height: 1.7rem;
  }
}
ul {
  transition: color 0.5s ease-in;
  li {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.2s ease-in;
    &:hover {
      color: $text-color;
      font-weight: 700;
    }
  }
}
p {
  color: $paragraph-color;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1.4rem;

  @media screen and (max-width: 640px) {
    height: auto;
    max-height: none;
    padding: 0;
  }
  @media screen and (max-width: 450px) {
    min-height: 100vh;
    max-height: none;
  }
}

body {
  background-color: $base-color;
  font-family: "Montserrat";
}

.animation-heading {
  span {
    color: $text-color;
  }
}
.navbar {
  background-color: $base-color;
}
.tabs {
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-tabs-tab {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.2s ease-in;
    &:hover {
      color: $text-color;
      font-weight: 700;
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $text-color !important;
    }
  }
  .ant-tabs-ink-bar {
    background: none;
  }
}
.container {
  @media screen and (min-width: 1536px) {
    max-width: 1440px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}
