@tailwind base;
@tailwind components;
@tailwind utilities;

/* TYPOGRAPHY */
$base-color: #fff4ea;
$text-color: #f26a21;
$paragraph-color: #1d3142;
h1,
h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.7rem;

  @media screen and (max-width: 1024px) {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 2.7rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.75rem;
    line-height: 1.7rem;
  }
}
ul {
  li {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.2s ease-in;
    &:hover {
      color: $text-color;
      font-weight: 700;
    }
  }
}
p {
  color: $paragraph-color;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.4rem;
  margin-top: 5rem;
  @media screen and (max-width: 640px) {
    padding: 0;
  }
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  transition: background 0.2s ease-in;
}
.dark {
  color: white;
  p,
  ul,
  li {
    color: white !important;
  }
  .navbar {
    background-color: black !important;
  }
  .about-content {
    background: #434141 !important;
  }
  .logo-parent {
    .logo {
      fill: white;
    }
  }
  .drawer {
    .ant-drawer-title {
      transition: color 0.2s ease-in;

      color: white;
    }
    .ant-drawer-close {
      span {
        svg {
          path {
            transition: color 0.2s ease-in;

            fill: white;
          }
        }
      }
    }
  }
  .about {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 20%,
      #434141 20%,
      #434141 100%
    );
    @media screen and (min-width: 640px) {
      background: transparent;
    }
  }
  .sid {
    .slick-arrow {
      color: white !important;
    }
  }
  .tabs {
    .ant-tabs-tab {
      color: white !important;
    }
  }
}

.animation-heading {
  span {
    color: $text-color;
  }
}
.navbar {
  background-color: $base-color;
  transition: background 0.2s ease-in;
}
.tabs {
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-tabs-tab {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.2s ease-in;
    text-transform: uppercase;
    &:hover {
      color: $text-color;
      font-weight: 700;
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $text-color !important;
    }
  }
  .ant-tabs-ink-bar {
    background: none;
  }
}
.container {
  @media screen and (min-width: 1536px) {
    max-width: 1440px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}
.transition {
  transition: all 0.2s ease-in;
}
.about {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    #ffebd9 20%,
    #ffebd9 100%
  );
  @media screen and (min-width: 640px) {
    background: transparent;
  }
}
