.ball {
  background: linear-gradient(
    180deg,
    rgba(252, 84, 84, 0.7) 0%,
    rgba(222, 49, 194, 0.7) 100%
  );
  box-shadow: 0px 4px 10px 0px rgba(3, 67, 75, 0.14),
    0px 4px 15px 0px rgba(124, 66, 246, 0.1) inset;
  backdrop-filter: blur(15px);
}
